@import "tailwindcss";
:root {
            --primary: #4f46e5;
            --primary-dark: #4338ca;
            --secondary: #7e22ce;
        }
        
        body {
            font-family: 'Inter', sans-serif;
        }
        